.products {
    padding: 60px 0 23px;

    .row {
        margin-right: -12px;
        margin-left: -12px;
    }

    div[class^="col"] {
        padding-right: 12px;
        padding-left: 12px;
    }
    
    .card {
        transition: all .2s ease;
        border: 1px solid #e8e8e8;
        border-radius: 10px;

        &:hover {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
        }

        &:hover .card-body {
            border-color: transparent;
            border-radius: 0;
        }

        &:hover .card-buy {
            opacity: 1;
            z-index: 2;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        }

        .card-img-box {
            min-height: 168px;
        }

        .card-img-top {
            width: auto;
            max-height: 168px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        .card-img-element {
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 1;
        }
        
        &-body {
            transition: all .2s ease;
            background: #fff;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            z-index: 3;
            padding: 16px 15px 20px;
        }

        &-second-subtitle {
            color: #747474;
        }

        &-old-price {
            color: #9f9f9f;
        }

        &-buy {
            width: 100%;
            position: absolute;
            bottom: -55px;
            left: 0;
            z-index: -1;
            opacity: 0;
            transition: all .2s ease;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background: #fff;
            padding: 0 15px;

            .btn-yellow {
                box-shadow: 0 4px 5px rgb(255 193 7 / 40%);;
            }
            
        }

    }

    .btn-yellow {
        font-size: 14px;
        font-weight: 500;
        padding: 4px 16px;
    }
    
}
